<div>
  <h3>Vuoi creare un teatro nuovo? Scegli le misure qua sotto</h3>
  <p>
    Le misure minime consentite sono
    <strong>2 file di 2 posti ciascuno</strong> e le misure massime sono
    <strong>4 file di 10 posti ciascuno</strong>.
  </p>
  <div *ngFor="let config of [file, posti]">
    <div *ngFor="let zona of ['platea', 'palco']">
      <select
        (change)="
          valore_selezionato($event, (config.length == 3 ? 'f_' : 'p_') + zona)
        "
      >
        <option disabled selected>
          {{ config.length == 3 ? 'File' : 'Posti' }} {{ zona }}
        </option>
        <option *ngFor="let numero of config" [value]="numero">
          {{ numero }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="teatro_config.length == 4">
    <p>
      Vuoi fare un teatro di: <br />
      Platea : <strong>{{ teatro_config[0] }}</strong> x
      <strong>{{ teatro_config[1] }}</strong> (file x posti)
      <br />
      Palco : <strong>{{ teatro_config[2] }}</strong> x
      <strong>{{ teatro_config[3] }}</strong> (file x posti)
    </p>
    <button (click)="nuovo_teatro()">Vuoi confermare?</button>
  </div>
</div>
