<div *ngIf="stato == 2">
  <strong>:accesso>nominativo>prenotazione</strong>
  <h4>Scegli il posto nel teatro, il colore rosso indica un posto occupato</h4>
  <p>
    Stai prenotando al nome: <strong>{{ nominativo_teatro }}</strong>
  </p>
  <!-- Per ogni fila della platea/palco, genero un bottone per ogni posto della fila, se il posto non ha prenotazioni (e quindi ha il simbolo "x") è libero (e di colore verde) se il posto è prenotato è rosso  -->
  <div *ngFor="let zona of [teatro.platea, teatro.palco]; index as z">
    <h2>{{ z == 0 ? 'Platea' : 'Palco' }}</h2>
    <div *ngFor="let file of zona; index as i">
      <button
        *ngFor="let posti of file; index as h"
        [style.color]="posti !== 'x' ? 'red' : 'green'"
        (click)="prenotazione_posto(i, h, z == 0 ? 'platea' : 'palco')"
      >
        P {{ i + 1 }}{{ h }}
      </button>
    </div>
  </div>
</div>
<app-nominativo
  *ngIf="stato == 1"
  [nominativo_teatro]="nominativo_teatro"
  [key]="key"
  [posto]="posto"
>
</app-nominativo>
<div>{{ avviso }}</div>
