<div>
  <strong>accesso>nominativo>prenotazione</strong>
  <h3>Scelta del posto nel teatro</h3>
  <h2>Platea</h2>
  <!-- Per ogni fila della platea/palco, genero un bottone per ogni posto della fila, se il posto non ha prenotazioni (e quindi ha il simbolo "x") è libero (e di colore verde) se il posto è prenotato è rosso  -->
  <div *ngFor="let file of platea; index as i">
    <button
      *ngFor="let posti of file; index as h"
      [style.color]="posti !== 'x' ? 'red' : 'green'"
    >
      P {{ i + 1 }}{{ h }}
    </button>
  </div>
  <h2>Palco</h2>
  <div *ngFor="let file of palco; index as i">
    <button
      *ngFor="let posti of file; index as h"
      [style.color]="posti !== 'x' ? 'red' : 'green'"
    >
      P {{ i + 1 }}{{ h }}
    </button>
  </div>
</div>
