<div *ngIf="stato == 1" style="margin-bottom:20px;">
  <strong>:accesso>nominativo</strong>
  <h4>
    Prenota il tuo posto inserendo il nome e premendo conferma (Accesso eseguito
    con la chiave: {{ key }})
  </h4>
  <div *ngIf="nominativo_teatro != undefined">
    <strong
      >Prenotazione effettuata a nome: <br />
      {{ nominativo_teatro }} {{ posto }}</strong
    >
    <br />
  </div>
  <input type="text" placeholder="Inserisci il nominativo" #nome />
  <button (click)="controllo_accesso(nome.value); nome.value = ''">
    Conferma
  </button>
</div>
<app-posto
  *ngIf="stato == 2"
  [nominativo_teatro]="nominativo_teatro"
  [teatro_export]="teatro_export"
  [key]="key"
></app-posto>
<div>{{ avviso }}</div>
